<section class="page-header internal">
  <h1 class="project-name">
    <a routerLink="/" style="color: white !important">angular2-smart-table</a>
  </h1>
  <h2 class="project-tagline">{{ tagline }}</h2>

  <a routerLinkActive="active" routerLink="/demo" class="btn">Quick Start</a>
  <a routerLinkActive="active" routerLink="/documentation" class="btn"
    >Documentation</a
  >
  <a
    target="_blank"
    href="https://github.com/dj-fiorex/angular2-smart-table"
    class="btn"
    >View on GitHub</a
  >
  <ul class="examples-menu">
    <li>
      <a
        routerLink="./examples/using-filters"
        style="color: white !important"
        routerLinkActive="active"
        >Standalone & Advanced filters</a
      >
    </li>
    <li>
      <a
        routerLink="./examples/populate-from-server"
        style="color: white !important"
        routerLinkActive="active"
        >Loading data from server</a
      >
    </li>
    <li>
      <a
        routerLink="./examples/custom-editors-viewers"
        style="color: white !important"
        routerLinkActive="active"
        >Custom editors and viewers</a
      >
    </li>
    <li>
      <a
        routerLink="./examples/various"
        routerLinkActive="active"
        style="color: white !important"
        >Various</a
      >
    </li>
  </ul>

</section>
